html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 250px  1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header header header"
        "sidebar main main main"
        "sidebar footer footer footer";
    gap: 10px; /* Espaçamento entre os itens */
}

header img {
    width:1492px;
    
}

aside {
    grid-area: sidebar;
    background-color: lightcoral;
}
main {
    grid-area: main;
    background-color: lightgreen;
    
}
footer {
    grid-area: footer;
    background-color: lightgoldenrodyellow;
}

/* Estilizações adicionais para melhor visualização */
header, aside, main, footer {
    padding: 20px;
    border: 1px solid #000;
}
